<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!-- <input type="text" (change)="setText($event.srcElement.value)"/> -->
<!-- <br> -->
<!-- template reference variable -->
<!-- <input type = "text" #textInput/>
<br>
<button (click)="doSomething(textInput.value)">Click Me</button> -->


<!-- <button (click)="doSomething()">Click Me</button> -->
<!-- <br> -->
<!-- <input type = "text" (change)="doSomething('123')"/> -->
<!-- <input type = "text" (change)="doSomething($event.srcElement.value)"/> -->

<img src = "./image/1.jpeg" alt ={{title}}/>
<img src = "./image/1.jpeg" [alt] =title/>

<!-- <input type="text" [ngModel]="text" (ngModelChange)="text= $event"  /> -->
<input type="text" [(ngModel)]="text">
<br>
<button (click)="doSomething()">Click Me</button>
